<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Logistic Regression</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static_bp.get_styles', filename='styles.css') }}">
    <link rel="icon" type="image/x-icon" href="/static/favicon.ico">
</head>

<body>

    <!-- Scripts which are necessay for the page -->
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/chart.js/dist/chart.umd.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script type='text/javascript' src="{{ url_for('static_bp.get_styles', filename='ajaxScript.js') }}"></script>
    <script type='text/javascript' src="{{ url_for('static_bp.get_styles', filename='ChartScripts.js') }}"></script>
    <script type='text/javascript' src="{{ url_for('static', filename='page.js') }}"></script>
    
    

    <div class="container">
        <!-- Sidebar navigation -->
        <div class="sidebar">
            <!-- Navigation buttons -->
            <form class="nav-buttons">
                <button class="navigation" id="mainPageBtn">Home</button>
                <button class="navigation" id="lrPageBtn">LR</button>
                <button class="navigation" id="nbPageBtn">NB</button>
                <button class="navigation" id="paPageBtn">PA</button>
            </form>
        </div>

        <!-- Main content -->
        <div class="main-content">
            <h1>Logistic Regression</h1>
            <h2>Dataset</h2>
            <p>This dataset was used for the process of training this model. It has both real and fake news articles and
                titles carefully labelled.</p>
            <p>If you wish to explore this dataset link is <a
                    href="https://www.kaggle.com/datasets/saurabhshahane/fake-news-classification">Here</a></p>
            <h3>Enter your article below:</h3>
            <form id="lrForm" method="post">
                <textarea name="message" id="LRarea" placeholder="Enter your suspicious article here..." maxlength="3000" minlength="900"></textarea>
                <div class="result">
                    <span id="char">0 Characters</span>
                    <input type="submit" id="submit" class="submit-button" value="Submit">
                    <div id="error-message"></div>
                </div>
            </form>

            <dialog class="popup" id="LRresultPopup">
                <div class="popup-content">
                    <a class="close-popup" href="#">&times;</a>
                    <h2>Result</h2>
                    <div id="LR-main-result" class="content"></div>
                    <!--Optional to view-->
                    <button class="expand-result" id="LRexpand">View how other models have responded</button>
                    <div id="LRoptional">
                        <div id="optional1" class="optional-content"></div>
                        <div id="optional2" class="optional-content"></div>
                        <p>
                        </p>
                        <div id="error-message-optional"></div>
                    </div>
                </div>
            </dialog>

            <div class="additional">
                <h3>About the model:</h3>
                <p>Logistic regression is a supervised machine learning model used for classification of data.</p>
                <p>This specific iteration of the model is best used for smaller news articles between 3500 and 4000
                    characters, preferably about politics, and specifically about Donald Trump since the training data
                    was focused on this topic.</p>
                <p>The submitted data is not stored anywhere; it is only preprocessed, and the output is displayed to
                    the user. Refreshing the page will clear the data.</p>
                <p>The model is Logistic Regression, trained on vectorized data for research purposes, which may limit
                    its application.</p>
                <div class="data-rep" id="dashboard">
                    <h3>DATA REPRESENTATION</h3>
                    <p>This visual representation shows the data used to train the model. The x-axis represents the
                        number of words in the article, and the y-axis represents the label (0 for FAKE NEWS, 1 for REAL
                        NEWS).</p>
                <div class="chart-container">
                    <div>
                        <button type="button" id="countPlotBtn" class="submit-button">Generate Class Ratio</button>
                        <div id="optional-graphs" class="graph">
                            <canvas id="myChart" width="380" height="400"></canvas>
                            <p id="data-context">This is how the fake and real classes are distributed, in the dataset.</p>
                        </div>
                    </div>
                    <div>
                        <button type="button" id="wordCountBtn" class="submit-button">Generate Mean Word Count</button>
                        <div id="optional-mean" class="graph">
                            <canvas id="wcChart" width="380" height="400"></canvas>
                            <p id="data-context">This is the mean word count per real and fake news class.</p>
                        </div>
                    </div>
                </div>
                   
                </div>
            </div>
        </div>
    </div>

</body>

</html>