<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fake News Detector</title>
    <style>
        body {
            background-color: rgb(104, 105, 104);
            color: white;
            font-family: Arial, sans-serif;
        }
    </style>
     <link rel="icon" type="image/x-icon" href="/static/favicon.ico">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static_bp.get_styles', filename='styles.css') }}">
</head>


<body>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script type='text/javascript' src="{{ url_for('static_bp.get_styles', filename='ajaxScript.js') }}"></script>
    <div class="container">

        <!-- Sidebar navigation -->
        <div class="sidebar">
            <!-- Navigation buttons -->
            <form class="nav-buttons">
                <button class="navigation" id="mainPageBtn">Home</button>
                <button class="navigation" id="lrPageBtn">LR</button>
                <button class="navigation" id="nbPageBtn">NB</button>
                <button class="navigation" id="paPageBtn">PA</button>
            </form>
        </div>
        <div class="content">
            <h1>Fake News Detector</h1>

            <div class="description">

                <h2>Introduction</h2>
                <p>This is the webpage regarding the fake news article detection. Each algortihm used has
                    it's own page.
                    Models are pre-trained on the datasets extracted from the internet. On some information about the model and
                    some viusal representation of the data used in training. From the information provided you can decide
                    which model you want to use to aid you in the decisin making. 
                    Additionally you can request verdict from other models to aid you in decision making process.
                </p>
                <p class="attention">DISCLAIMER: THE MODELS ARE NOT 100% ACCURATE.</p>
                <ul> You can naviagte moedels on the left-hand side on the menu bar, models are sorted in the following order:
                    <li>Model 1: Logistic Regression</li>
                    <li>Model 2: Naive Bayes</li>
                    <li>Model 3: Passive Aggressive Classifier</li>
                </ul>
            </div>

            <div>
                <h2>How to use:</h2>
                <p>Each Model has it's own webpage. They will be shown on the sidebar on the left.</p>
                <p>The first page is dedicated to the Logistic Regression, the second one is dedicated to
                    Naive Bayes and the third to Passive Aggressive Classifiers.</p>
                <p></p>
                <p>At the bottom part of the page you can use buttons to generate graphs which display ratio
                    of Real and Fake news and mean word count per Real and Fake news class.</p>
            </div>
        </div>
    </div>

</body>

</html>